extends base

block content
  p Hi Admin,
  p A Fitness Freak sent you a message via GoFitWithUs Contact Support
  p
    b User Name:
    |  #{data.name}
  p
    b User Email:
    |  #{data.email}
  p
    b User Phone Number:
    |  #{data.phone}
  p
    b User Message:
    |  #{data.message}
